<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{% block title %} {% endblock %}</title>

 {% include 'base/css.html' %}

 {% block extrahead %} {% endblock %}

 {% block extrastyle %} {% endblock %}
</head>

<body>

 {% block header %} {% endblock %}

 {% block content %}


 {% endblock %}

 {% block footer %} {% endblock %}

 {% include 'base/scripts.html' %}

 {% block extrascripts %} {% endblock %}

</body>

</html>